<%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
%>
<head>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
  <%- css('css/component') %>
  <%- css('css/screen') %>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?a9572c4e7d25cae7c482bd81f4177551";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
</head>
<body>
<div class="container">
    <div class="mp-pusher" id="mp-pusher">
        <i id="scroll-up" class="fa fa-angle-up"></i>
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <a data-pjax class="back-home" style="font-size: 20px" href="<%- config.root %>"><h2 ><i class="fa fa-home"></i>
                        Menu</h2></a>
                <ul class="first-level">
                    <li>
                        <a class="fa fa-copy" href="#"><i class="fa fa-angle-left">
                            </i>&nbsp;&nbsp;Categories</a>
                        <div class="mp-level page-list">
                            <h2 ><i class="fa fa-copy"></i>
                                Categories</h2>
                            <a class="mp-back" href="#">back</a>
                            <form id="search-form" action="">
                                <input type="text" class="search search-category" placeholder="Search.."/>
                            </form>
                            <div class="mp-scroll">
                            <ul>
                                <% site.categories.sort('name').each(function(item){ %>
                                <li class="search-category-li mp-pjax">
                                    <a href="<%- config.root %><%- item.path %>">&nbsp;&nbsp;&nbsp;<%= item.name %></a>
                                </li>
                                <% }); %>
                            </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="fa fa-tags" href="#"><i class="fa fa-angle-left">
                            </i>&nbsp;&nbsp;Tags</a>
                        <div class="mp-level page-list">
                            <h2 ><i class="fa fa-tags"></i>
                                Tags</h2>
                            <a class="mp-back" href="#">back</a>
                            <form id="search-form" action="">
                                <input type="text" class="search search-tag" placeholder="Search.."/>
                            </form>
                            <ul>
                                <div class="mp-scroll">
                                <% site.tags.sort('name').each(function(item){ %>
                                <li class="search-tag-li mp-pjax">
                                    <a href="<%- config.root %><%- item.path %>">&nbsp;&nbsp;&nbsp;<%= item.name %></a>
                                </li>
                                <% }); %>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li><a target="_blank" class="fa fa-github" href="https://github.com/Zohner">&nbsp;&nbsp;&nbsp;Github</a></li>
                </ul>
            </div>
        </nav>
        <div id="pjax">
            <div class="pjax-hidden" style="display: none">
                <% site.posts.sort('date', -1).each(function(post){ %>
                    <a  data-pjax href="<%= config.root %><%= post.path %>"><%= post.title %></a>
                <% }); %>
                <% site.categories.sort('name').each(function(item){ %>
                    <a data-pjax href="<%- config.root %><%- item.path %>">&nbsp;&nbsp;<%= item.name %></a>
                <% }); %>
                <% site.tags.sort('name').each(function(item){ %>
                    <a data-pjax href="<%- config.root %><%- item.path %>">&nbsp;&nbsp;<%= item.name %></a>
                <% }); %>
                <a data-pjax class="fa fa-user" href="<%= config.root %>about">&nbsp;&nbsp;&nbsp;About me</a>
            </div>
            <nav class="nexus">
                <li  style="border-left: 1px solid #c6d0da;">
                    <a id="trigger" href="#"><i class="fa fa-bars"></i></a>
                </li>
                <li ><a id="nexus-back" data-pjax href="<%- config.root %>">index</a></li>
                <% if (theme.scroll_spy) { %>
                <div id="nav-container">
                    <div class="post-navbar" style="line-height: 63px;display:none">
                        <li id="navbar-title"><a href="#"><%= page.title%></a></li>
                        <li id="navbar-toc" style="border-left: none">
                            <a style="padding-right: 15px">
                                <span id="toc-content" >Introduction</span><i class="fa fa-chevron-down" ></i>
                            </a>
                            <div class="hidden-box">
                                <ul id="toc"></ul>
                            </div>
                        </li>
                    </div>
                </div>
                <% } %>
            </nav>

            <div class="scroller">
            <div class="scroller-inner">

