<% permalink = config.url + config.root + post.path %>

<main class="content" role="main">
    <article class="post" >
    <div class="post-meta">
                <h1 class="post-title" style="margin: 14px 0;color:#50585D"><%- post.title %></h1>
    </div>

        <section class="post-content">
            <%- post.content %>
        </section>
        <hr/>
        <nav class="pagination" style="width:auto" role="pagination">
            <% if (page.prev) { %>
            <a data-pjax class="newer-posts" href="<%- config.root %><%- page.prev.path %>">← Prev Post</a>
            <% } else { %>
            <a style="cursor:default" class="newer-posts" href="#">This is the First Post</a>
            <% } %>
            <% if (page.next) { %>
            <a data-pjax class="older-posts" href="<%- config.root %><%- page.next.path %>">Next Post →</a>
            <% } %>
        </nav>
        <br/>
        <br/>
        <section id="comment">
            <div id="comment-box"></div>
        </section>


    </article>
</main>
