*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .container, .scroller, #pjax {
    height: 100%;
}


.scroller {
    overflow-y: scroll;
}

.mp-scroll {
    height: auto;
    overflow: auto;
}
.scroller,
.scroller-inner, #pjax {
    position: relative;
}

.container {
    position: relative;
    overflow: hidden;
}

.menu-trigger {
    position: relative;
    padding-left: 60px;
    font-size: 0.9em;
}

.menu-trigger:before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
    height: 6px;
    background: #fff;
    box-shadow: 0 6px #34495e, 0 12px #fff, 0 18px #34495e, 0 24px #fff;
    content: '';
}

.mp-pusher {
    position: relative;
    left: 0;
    height: 100%;
}

.mp-level a {
    font-weight: 300;
    text-decoration: none;
}

.mp-menu {
    position: absolute; /* we can't use fixed here :( */
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.mp-level {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    overflow: auto;
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
}

.mp-pusher::after,
.mp-level::after {
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.mp-level::after {
    z-index: -1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.mp-level.mp-level-overlay {
    cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
}

.mp-pusher,
.mp-level {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
    box-shadow: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mp-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}

.mp-menu.mp-overlap h2::before {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    font-size: 75%;
    line-height: 1.8;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
    transition: opacity 0.3s, transform 0.1s 0.3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.mp-menu ul li > a {
    display: block;
    padding: 0.7em 1em 0.7em 0.8em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    text-decoration: none;
    text-transform: capitalize;
    color: #0258c0;
}

.search {
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding: 0.7em 0 0.7em 1.4em;
    background: white;
    color: #0099cc;
}

#search-form {
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.page-list ul li {
    position: relative;
}

div[data-level='2'] a {
    font-size: 0.8em !important;
}

div[data-level='1'] a {
    font-size: 22px;
    font-family: 'Open Sans', 'FontAwesome', sans-serif;
    font-weight: 500;
}

.page-list ul li > small {
    position: absolute;
    top: 12px;
    left: 1em;
}

.mp-menu ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.2);
    line-height: 3.5;
}

.mp-level > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.mp-menu ul li a:hover,
.mp-level > ul > li:first-child > a:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-back {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
    color: #5f6f81;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    font-size: 0.8em;
    padding: 1em;
    position: relative;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}
.mp-back:hover {
    color: #0086b3;
}
.mp-back::after {
    font-family: 'FontAwesome';
    position: absolute;
    content: "\f0da";
    right: 10px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.3);
}

.mp-left::after {
    font-family: 'FontAwesome';
    position: absolute;
    content: "\f104";

    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.3);
}

.fa-angle-left {
    position: absolute;
    left: 10px;
    z-index: -1;
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
    background: transparent;
    box-shadow: none;
    color: transparent;
}

.nexus,
.nexus ul {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Open Sans', Arial,'Microsoft YaHei', sans-serif;
    line-height: 65px;
    z-index: 9999;
}

.nexus {
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    font-size: 16px;
    z-index: 1;
    border-bottom: 1px solid #c6d0da;

}

.nexus li {
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #c6d0da;
    text-align: center;
}

.nexus a {
    display: block;
    height: 100%;
    color: #5f6f81;
    text-decoration: none;
    cursor: pointer;
    padding: 0 30px;
    letter-spacing: 1px;
    font-weight: bold;

}

.nexus li a:hover {
    background: #5f6f81;
    color: white;
}

#navbar-title {
    border: none;
}

#navbar-title a {
    padding-left: 0;
    cursor: default;
}

#navbar-title a:hover {
    color: #5f6f81;
    background: white;

}

#navbar-toc {
    float: right;
    border-left: 1px solid #c6d0da;
}

#navbar-toc i {
    color: #0099cc;
    margin-left: 10px;
    font-weight: bold;
}

.post-navbar {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

ul#toc {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 521px;
    overflow-x: hidden;
    overflow: auto;
}

#toc a {
    font-size: 12px;
    font-weight: 600;
    display: block;
    overflow: hidden;
    padding: 0 10px;
}
.post-intro {
    display: none;
}

.hidden-box {
    border-top: 0;
    display: none;
    top: 30px;
    overflow: auto;
}

.hidden-box li {
    display: list-item;
    float: none;
    border: none;
    border-bottom: 1px solid #c6d0da;
    height: auto;
}

.hover-up {
    transition-duration: .5s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/*图标向下旋转*/
.hover-down {
    transition-duration: .5s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

i#scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    border-radius: 50%;
    color: white;
    background-color: #5f6f81;
    font-size: 40px;
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

i#scroll-up:hover {
    background-color: #57A3E8;
    opacity: 1;

}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover > .arrow {
    border-width: 11px;
}

.popover > .arrow:after {
    content: "";
    border-width: 10px;
}

.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}

.popover.bottom > .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}

.share-icon {
    margin-right: 10px;
}

.fadeIn {
    -webkit-animation: fadeIn .3s;
    -moz-animation: fadeIn .3s;
    -ms-animation: fadeIn .3s;
    -o-animation: fadeIn .3s;
    animation: fadeIn .3s;
}

.fadeOut {
    -webkit-animation: fadeOut .2s;
    -moz-animation: fadeOut .2s;
    -ms-animation: fadeOut .2s;
    -o-animation: fadeOut .2s;
    animation: fadeOut .2s;
}

/*Multiple DUOSHUO threads for PJAX START*/

span.ds-thread-count {
    display: block;
    opacity: 0;
    position: absolute;
    line-height: 16px;
    font-size: 14px;
    left: 710px;
    text-align: center;
    background: #bbbbbb;
    border-radius: 3px;
    width: 20px;
    height: 17px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: #bbbbbb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-style: normal;
}
span.ds-thread-count:hover{
    opacity: 1;
    background-color: #57A3E8;
}
span.ds-thread-count:hover:after{
    opacity: 1;
    border-top-color:#57A3E8 ;
}
span.ds-thread-count:after {
    border-right: 7px solid transparent;
    border-top: 7px solid #bbbbbb;
    left:2px;
    height: 0;
    width: 0;
    display: block;
    content: " ";
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.inline-comment {
    width: 350px;
    position: absolute;
    left:750px;
}
.post-content {
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.right {
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
}

/*Multiple DUOSHUO threads for PJAX END*/
.windows-xp {
    line-height: 27px;
    font-size: 16px;
    font-family: "Georgia", "SimSun", sans-serif;
}

.fluidbox {
    outline: none;
}
.fluidbox-overlay {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .25s ease-in-out;
}

.egg {
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 999999;
    overflow: scroll;
    -webkit-transform: rotateY(-90deg) translateZ(5em);
    -ms-transform: rotateY(-90deg) translateZ(5em);
    -o-transform: rotateY(-90deg) translateZ(5em);
    transform: rotateY(-90deg) translateZ(5em);
}
.bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
}

@-webkit-keyframes bounceOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }


    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes bounceOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }


    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }


    100% {
        opacity: 1;

        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
    }



    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.block {
    margin: 25% auto;
    text-align: center;
    display: none;
}
.loading span {
    display: inline-block;
    padding: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.ball1 {
    background: #0063dc;
    -webkit-animation: move-left 600ms ease-in-out infinite alternate;
    -moz-animation: move-left 600ms ease-in-out infinite alternate;
    -ms-animation: move-left 600ms ease-in-out infinite alternate;
    -animation: move-left 600ms ease-in-out infinite alternate;
}
.ball2 {
    background: #ff0084;
    -webkit-animation: move-right 600ms ease-in-out infinite alternate;
    -moz-animation: move-right 600ms ease-in-out infinite alternate;
    -ms-animation: move-right 600ms ease-in-out infinite alternate;
    animation: move-right 600ms ease-in-out infinite alternate;
}
@-webkit-keyframes move-left {
    to {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -moz-transform: translate(20px, 0);
        transform: translate(20px, 0);
        background: #ff0084;
    }
}
@-moz-keyframes move-left {
    to {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -moz-transform: translate(20px, 0);
        transform: translate(20px, 0);
        background: #ff0084;
    }
}
@-ms-keyframes move-left {
    to {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -moz-transform: translate(20px, 0);
        transform: translate(20px, 0);
        background: #ff0084;
    }
}
@keyframes move-left {
    to {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        -moz-transform: translate(20px, 0);
        transform: translate(20px, 0);
        background: #ff0084;
    }
}
@-webkit-keyframes move-right {
    to {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -moz-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        background: #0063dc;
    }
}
@-moz-keyframes move-right {
    to {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -moz-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        background: #0063dc;
    }
}
@-ms-keyframes move-right {
    to {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -moz-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        background: #0063dc;
    }
}
@keyframes move-right {
    to {
        -webkit-transform: translate(-20px, 0);
        -ms-transform: translate(-20px, 0);
        -moz-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
        background: #0063dc;
    }
}
#close-button {
    display: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    line-height: 2.5em;
    text-align: center;
    -webkit-transform: scale(1.25);
    color: #e1dada;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e3e3e3));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e3e3e3));

}

.fluidbox-wrap {
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    transition: .25s ease-in-out;
}
.fluidbox-ghost {
    background-size: cover;
    background-position: center center;
    position: absolute;
    transition: .25s ease-in-out;
}
@-webkit-keyframes fadeIn {
    from {
        -webkit-transform: translateY(30px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        -moz-transform: translateY(30px);
        opacity: 0;
    }

    to {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    from {
        -ms-transform: translateY(30px);
        opacity: 0;
    }

    to {
        -ms-transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        -o-transform: translateY(30px);
        opacity: 0;
    }

    to {
        -o-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        -webkit-transform: translateY(0);
        opacity: 1;
    }

    to {
        -webkit-transform: translateY(-30px);
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    from {
        -moz-transform: translateY(0);
        opacity: 1;
    }

    to {
        -moz-transform: translateY(-30px);
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    from {
        -ms-transform: translateY(0);
        opacity: 1;
    }

    to {
        -ms-transform: translateY(-30px);
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    from {
        -o-transform: translateY(0);
        opacity: 1;
    }

    to {
        -o-transform: translateY(-30px);
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
    padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
    display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
    display: block;
}

